body {
  font-family: "Latto", "lucida-grande", "lucida sans unicode", tahoma,
    sans-serif;

    background-color:#03a5fc;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.image1 {
  height: 50px;





}


